In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("treated_data/bank_train_treated.csv")
df

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome,y
0,0,41.0,management,single,tertiary,no,4522.0,no,no,cellular,8,55,1.0,-1,0.0,unknown,no
1,1,42.0,blue-collar,married,primary,yes,398.0,yes,n,unknown,5,251,4.0,-1,0.0,unknown,no
2,2,26.0,student,single,secondary,no,706.0,no,no,unknown,10,118,1.0,105,2.0,other,no
3,3,54.0,management,married,tertiary,no,0.0,no,y,cellular,11,307,3.0,-1,0.0,unknown,no
4,4,43.0,self-employed,married,secondary,no,918.0,yes,no,unknown,5,193,1.0,-1,0.0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39995,43.0,management,married,tertiary,no,10000.0,yes,no,cellular,11,259,1.0,-1,0.0,unknown,no
39996,39996,34.0,blue-collar,married,primary,no,357.0,yes,no,unknown,5,197,2.0,-1,0.0,unknown,no
39997,39997,30.0,management,single,tertiary,no,4889.0,no,no,cellular,8,545,2.0,-1,0.0,unknown,yes
39998,39998,40.0,self-employed,married,tertiary,no,271.0,yes,no,cellular,11,124,3.0,102,4.0,failure,no
39999,39999,60.0,housemaid,married,tertiary,no,443.0,no,n,unknown,6,60,1.0,-1,0.0,unknown,no

In [3]:
#Transformando features categóricas em numéricas utilizando LabelEncoder
categoricas = df.select_dtypes("object").columns
print(categoricas)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y'],
      dtype='object')

In [4]:
for i in range(len(categoricas)):
    le = LabelEncoder()
    df[categoricas[i]] = le.fit_transform(df[categoricas[i]])
    #print(df[categoricas[i]])
df

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome,y
0,0,41.0,4,2,2,0,4522.0,0,1,0,8,55,1.0,-1,0.0,3,0
1,1,42.0,1,1,0,1,398.0,1,0,2,5,251,4.0,-1,0.0,3,0
2,2,26.0,8,2,1,0,706.0,0,1,2,10,118,1.0,105,2.0,1,0
3,3,54.0,4,1,2,0,0.0,0,2,0,11,307,3.0,-1,0.0,3,0
4,4,43.0,6,1,1,0,918.0,1,1,2,5,193,1.0,-1,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39995,43.0,4,1,2,0,10000.0,1,1,0,11,259,1.0,-1,0.0,3,0
39996,39996,34.0,1,1,0,0,357.0,1,1,2,5,197,2.0,-1,0.0,3,0
39997,39997,30.0,4,2,2,0,4889.0,0,1,0,8,545,2.0,-1,0.0,3,1
39998,39998,40.0,6,1,2,0,271.0,1,1,0,11,124,3.0,102,4.0,0,0
39999,39999,60.0,3,1,2,0,443.0,0,0,2,6,60,1.0,-1,0.0,3,0

In [5]:
X = df.copy().drop(columns=["y"])
Y = df["y"]

In [6]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
39995    0
39996    0
39997    1
39998    0
39999    0
Name: y, Length: 40000, dtype: int64

In [7]:
X

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome
0,0,41.0,4,2,2,0,4522.0,0,1,0,8,55,1.0,-1,0.0,3
1,1,42.0,1,1,0,1,398.0,1,0,2,5,251,4.0,-1,0.0,3
2,2,26.0,8,2,1,0,706.0,0,1,2,10,118,1.0,105,2.0,1
3,3,54.0,4,1,2,0,0.0,0,2,0,11,307,3.0,-1,0.0,3
4,4,43.0,6,1,1,0,918.0,1,1,2,5,193,1.0,-1,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39995,43.0,4,1,2,0,10000.0,1,1,0,11,259,1.0,-1,0.0,3
39996,39996,34.0,1,1,0,0,357.0,1,1,2,5,197,2.0,-1,0.0,3
39997,39997,30.0,4,2,2,0,4889.0,0,1,0,8,545,2.0,-1,0.0,3
39998,39998,40.0,6,1,2,0,271.0,1,1,0,11,124,3.0,102,4.0,0
39999,39999,60.0,3,1,2,0,443.0,0,0,2,6,60,1.0,-1,0.0,3

In [37]:
from sklearn.preprocessing import StandardScaler
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1234)
X_train_scaled = StandardScaler().fit_transform(X_train)
X_test_scaled = StandardScaler().fit_transform(X_test)
models = []
predictions = []
scores = []
max_score = 0
index_max = 0
for i in range(1000):
    models.append(LogisticRegression(max_iter=i))#Testing newton-cg solver
    models[i].fit(X_train_scaled, Y_train)
    predictions.append(models[i].predict(X_test_scaled))
    scores.append(models[i].score(X_test_scaled, Y_test))
for i in range(len(models)):
    if scores[i] > max_score:
        max_score = scores[i]
        index_max = i
    print(scores[i], i)
print("Max score:", max_score, "Max_iter: ", index_max)

C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\artda\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8839166666666667 0
0.8839166666666667 1
0.88725 2
0.8881666666666667 3
0.8895 4
0.8908333333333334 5
0.89075 6
0.8905833333333333 7
0.8906666666666667 8
0.8909166666666667 9
0.8909166666666667 10
0.891 11
0.8909166666666667 12
0.8909166666666667 13
0.8909166666666667 14
0.8909166666666667 15
0.8909166666666667 16
0.8909166666666667 17
0.8909166666666667 18
0.8909166666666667 19
0.8909166666666667 20
0.8909166666666667 21
0.8909166666666667 22
0.8909166666666667 23
0.8909166666666667 24
0.8909166666666667 25
0.8909166666666667 26
0.8909166666666667 27
0.8909166666666667 28
0.8909166666666667 29
0.8909166666666667 30
0.8909166666666667 31
0.8909166666666667 32
0.8909166666666667 33
0.8909166666666667 34
0.8909166666666667 35
0.8909166666666667 36
0.8909166666666667 37
0.8909166666666667 38
0.8909166666666667 39
0.8909166666666667 40
0.8909166666666667 41
0.8909166666666667 42
0.8909166666666667 43
0.8909166666666667 44
0.8909166666666667 45
0.8909166666666667 46
0.8909166666666667 47
0.8909166666666667 48
0.8909166666666667 49
0.8909166666666667 50
0.8909166666666667 51
0.8909166666666667 52
0.8909166666666667 53
0.8909166666666667 54
0.8909166666666667 55
0.8909166666666667 56
0.8909166666666667 57
0.8909166666666667 58
0.8909166666666667 59
0.8909166666666667 60
0.8909166666666667 61
0.8909166666666667 62
0.8909166666666667 63
0.8909166666666667 64
0.8909166666666667 65
0.8909166666666667 66
0.8909166666666667 67
0.8909166666666667 68
0.8909166666666667 69
0.8909166666666667 70
0.8909166666666667 71
0.8909166666666667 72
0.8909166666666667 73
0.8909166666666667 74
0.8909166666666667 75
0.8909166666666667 76
0.8909166666666667 77
0.8909166666666667 78
0.8909166666666667 79
0.8909166666666667 80
0.8909166666666667 81
0.8909166666666667 82
0.8909166666666667 83
0.8909166666666667 84
0.8909166666666667 85
0.8909166666666667 86
0.8909166666666667 87
0.8909166666666667 88
0.8909166666666667 89
0.8909166666666667 90
0.8909166666666667 91
0.8909166666666667 92
0.8909166666666667 93
0.8909166666666667 94
0.8909166666666667 95
0.8909166666666667 96
0.8909166666666667 97
0.8909166666666667 98
0.8909166666666667 99
0.8909166666666667 100
0.8909166666666667 101
0.8909166666666667 102
0.8909166666666667 103
0.8909166666666667 104
0.8909166666666667 105
0.8909166666666667 106
0.8909166666666667 107
0.8909166666666667 108
0.8909166666666667 109
0.8909166666666667 110
0.8909166666666667 111
0.8909166666666667 112
0.8909166666666667 113
0.8909166666666667 114
0.8909166666666667 115
0.8909166666666667 116
0.8909166666666667 117
0.8909166666666667 118
0.8909166666666667 119
0.8909166666666667 120
0.8909166666666667 121
0.8909166666666667 122
0.8909166666666667 123
0.8909166666666667 124
0.8909166666666667 125
0.8909166666666667 126
0.8909166666666667 127
0.8909166666666667 128
0.8909166666666667 129
0.8909166666666667 130
0.8909166666666667 131
0.8909166666666667 132
0.8909166666666667 133
0.8909166666666667 134
0.8909166666666667 135
0.8909166666666667 136
0.8909166666666667 137
0.8909166666666667 138
0.8909166666666667 139
0.8909166666666667 140
0.8909166666666667 141
0.8909166666666667 142
0.8909166666666667 143
0.8909166666666667 144
0.8909166666666667 145
0.8909166666666667 146
0.8909166666666667 147
0.8909166666666667 148
0.8909166666666667 149
0.8909166666666667 150
0.8909166666666667 151
0.8909166666666667 152
0.8909166666666667 153
0.8909166666666667 154
0.8909166666666667 155
0.8909166666666667 156
0.8909166666666667 157
0.8909166666666667 158
0.8909166666666667 159
0.8909166666666667 160
0.8909166666666667 161
0.8909166666666667 162
0.8909166666666667 163
0.8909166666666667 164
0.8909166666666667 165
0.8909166666666667 166
0.8909166666666667 167
0.8909166666666667 168
0.8909166666666667 169
0.8909166666666667 170
0.8909166666666667 171
0.8909166666666667 172
0.8909166666666667 173
0.8909166666666667 174
0.8909166666666667 175
0.8909166666666667 176
0.8909166666666667 177
0.8909166666666667 178
0.8909166666666667 179
0.8909166666666667 180
0.8909166666666667 181
0.8909166666666667 182
0.8909166666666667 183
0.8909166666666667 184
0.8909166666666667 185
0.8909166666666667 186
0.8909166666666667 187
0.8909166666666667 188
0.8909166666666667 189
0.8909166666666667 190
0.8909166666666667 191
0.8909166666666667 192
0.8909166666666667 193
0.8909166666666667 194
0.8909166666666667 195
0.8909166666666667 196
0.8909166666666667 197
0.8909166666666667 198
0.8909166666666667 199
0.8909166666666667 200
0.8909166666666667 201
0.8909166666666667 202
0.8909166666666667 203
0.8909166666666667 204
0.8909166666666667 205
0.8909166666666667 206
0.8909166666666667 207
0.8909166666666667 208
0.8909166666666667 209
0.8909166666666667 210
0.8909166666666667 211
0.8909166666666667 212
0.8909166666666667 213
0.8909166666666667 214
0.8909166666666667 215
0.8909166666666667 216
0.8909166666666667 217
0.8909166666666667 218
0.8909166666666667 219
0.8909166666666667 220
0.8909166666666667 221
0.8909166666666667 222
0.8909166666666667 223
0.8909166666666667 224
0.8909166666666667 225
0.8909166666666667 226
0.8909166666666667 227
0.8909166666666667 228
0.8909166666666667 229
0.8909166666666667 230
0.8909166666666667 231
0.8909166666666667 232
0.8909166666666667 233
0.8909166666666667 234
0.8909166666666667 235
0.8909166666666667 236
0.8909166666666667 237
0.8909166666666667 238
0.8909166666666667 239
0.8909166666666667 240
0.8909166666666667 241
0.8909166666666667 242
0.8909166666666667 243
0.8909166666666667 244
0.8909166666666667 245
0.8909166666666667 246
0.8909166666666667 247
0.8909166666666667 248
0.8909166666666667 249
0.8909166666666667 250
0.8909166666666667 251
0.8909166666666667 252
0.8909166666666667 253
0.8909166666666667 254
0.8909166666666667 255
0.8909166666666667 256
0.8909166666666667 257
0.8909166666666667 258
0.8909166666666667 259
0.8909166666666667 260
0.8909166666666667 261
0.8909166666666667 262
0.8909166666666667 263
0.8909166666666667 264
0.8909166666666667 265
0.8909166666666667 266
0.8909166666666667 267
0.8909166666666667 268
0.8909166666666667 269
0.8909166666666667 270
0.8909166666666667 271
0.8909166666666667 272
0.8909166666666667 273
0.8909166666666667 274
0.8909166666666667 275
0.8909166666666667 276
0.8909166666666667 277
0.8909166666666667 278
0.8909166666666667 279
0.8909166666666667 280
0.8909166666666667 281
0.8909166666666667 282
0.8909166666666667 283
0.8909166666666667 284
0.8909166666666667 285
0.8909166666666667 286
0.8909166666666667 287
0.8909166666666667 288
0.8909166666666667 289
0.8909166666666667 290
0.8909166666666667 291
0.8909166666666667 292
0.8909166666666667 293
0.8909166666666667 294
0.8909166666666667 295
0.8909166666666667 296
0.8909166666666667 297
0.8909166666666667 298
0.8909166666666667 299
0.8909166666666667 300
0.8909166666666667 301
0.8909166666666667 302
0.8909166666666667 303
0.8909166666666667 304
0.8909166666666667 305
0.8909166666666667 306
0.8909166666666667 307
0.8909166666666667 308
0.8909166666666667 309
0.8909166666666667 310
0.8909166666666667 311
0.8909166666666667 312
0.8909166666666667 313
0.8909166666666667 314
0.8909166666666667 315
0.8909166666666667 316
0.8909166666666667 317
0.8909166666666667 318
0.8909166666666667 319
0.8909166666666667 320
0.8909166666666667 321
0.8909166666666667 322
0.8909166666666667 323
0.8909166666666667 324
0.8909166666666667 325
0.8909166666666667 326
0.8909166666666667 327
0.8909166666666667 328
0.8909166666666667 329
0.8909166666666667 330
0.8909166666666667 331
0.8909166666666667 332
0.8909166666666667 333
0.8909166666666667 334
0.8909166666666667 335
0.8909166666666667 336
0.8909166666666667 337
0.8909166666666667 338
0.8909166666666667 339
0.8909166666666667 340
0.8909166666666667 341
0.8909166666666667 342
0.8909166666666667 343
0.8909166666666667 344
0.8909166666666667 345
0.8909166666666667 346
0.8909166666666667 347
0.8909166666666667 348
0.8909166666666667 349
0.8909166666666667 350
0.8909166666666667 351
0.8909166666666667 352
0.8909166666666667 353
0.8909166666666667 354
0.8909166666666667 355
0.8909166666666667 356
0.8909166666666667 357
0.8909166666666667 358
0.8909166666666667 359
0.8909166666666667 360
0.8909166666666667 361
0.8909166666666667 362
0.8909166666666667 363
0.8909166666666667 364
0.8909166666666667 365
0.8909166666666667 366
0.8909166666666667 367
0.8909166666666667 368
0.8909166666666667 369
0.8909166666666667 370
0.8909166666666667 371
0.8909166666666667 372
0.8909166666666667 373
0.8909166666666667 374
0.8909166666666667 375
0.8909166666666667 376
0.8909166666666667 377
0.8909166666666667 378
0.8909166666666667 379
0.8909166666666667 380
0.8909166666666667 381
0.8909166666666667 382
0.8909166666666667 383
0.8909166666666667 384
0.8909166666666667 385
0.8909166666666667 386
0.8909166666666667 387
0.8909166666666667 388
0.8909166666666667 389
0.8909166666666667 390
0.8909166666666667 391
0.8909166666666667 392
0.8909166666666667 393
0.8909166666666667 394
0.8909166666666667 395
0.8909166666666667 396
0.8909166666666667 397
0.8909166666666667 398
0.8909166666666667 399
0.8909166666666667 400
0.8909166666666667 401
0.8909166666666667 402
0.8909166666666667 403
0.8909166666666667 404
0.8909166666666667 405
0.8909166666666667 406
0.8909166666666667 407
0.8909166666666667 408
0.8909166666666667 409
0.8909166666666667 410
0.8909166666666667 411
0.8909166666666667 412
0.8909166666666667 413
0.8909166666666667 414
0.8909166666666667 415
0.8909166666666667 416
0.8909166666666667 417
0.8909166666666667 418
0.8909166666666667 419
0.8909166666666667 420
0.8909166666666667 421
0.8909166666666667 422
0.8909166666666667 423
0.8909166666666667 424
0.8909166666666667 425
0.8909166666666667 426
0.8909166666666667 427
0.8909166666666667 428
0.8909166666666667 429
0.8909166666666667 430
0.8909166666666667 431
0.8909166666666667 432
0.8909166666666667 433
0.8909166666666667 434
0.8909166666666667 435
0.8909166666666667 436
0.8909166666666667 437
0.8909166666666667 438
0.8909166666666667 439
0.8909166666666667 440
0.8909166666666667 441
0.8909166666666667 442
0.8909166666666667 443
0.8909166666666667 444
0.8909166666666667 445
0.8909166666666667 446
0.8909166666666667 447
0.8909166666666667 448
0.8909166666666667 449
0.8909166666666667 450
0.8909166666666667 451
0.8909166666666667 452
0.8909166666666667 453
0.8909166666666667 454
0.8909166666666667 455
0.8909166666666667 456
0.8909166666666667 457
0.8909166666666667 458
0.8909166666666667 459
0.8909166666666667 460
0.8909166666666667 461
0.8909166666666667 462
0.8909166666666667 463
0.8909166666666667 464
0.8909166666666667 465
0.8909166666666667 466
0.8909166666666667 467
0.8909166666666667 468
0.8909166666666667 469
0.8909166666666667 470
0.8909166666666667 471
0.8909166666666667 472
0.8909166666666667 473
0.8909166666666667 474
0.8909166666666667 475
0.8909166666666667 476
0.8909166666666667 477
0.8909166666666667 478
0.8909166666666667 479
0.8909166666666667 480
0.8909166666666667 481
0.8909166666666667 482
0.8909166666666667 483
0.8909166666666667 484
0.8909166666666667 485
0.8909166666666667 486
0.8909166666666667 487
0.8909166666666667 488
0.8909166666666667 489
0.8909166666666667 490
0.8909166666666667 491
0.8909166666666667 492
0.8909166666666667 493
0.8909166666666667 494
0.8909166666666667 495
0.8909166666666667 496
0.8909166666666667 497
0.8909166666666667 498
0.8909166666666667 499
0.8909166666666667 500
0.8909166666666667 501
0.8909166666666667 502
0.8909166666666667 503
0.8909166666666667 504
0.8909166666666667 505
0.8909166666666667 506
0.8909166666666667 507
0.8909166666666667 508
0.8909166666666667 509
0.8909166666666667 510
0.8909166666666667 511
0.8909166666666667 512
0.8909166666666667 513
0.8909166666666667 514
0.8909166666666667 515
0.8909166666666667 516
0.8909166666666667 517
0.8909166666666667 518
0.8909166666666667 519
0.8909166666666667 520
0.8909166666666667 521
0.8909166666666667 522
0.8909166666666667 523
0.8909166666666667 524
0.8909166666666667 525
0.8909166666666667 526
0.8909166666666667 527
0.8909166666666667 528
0.8909166666666667 529
0.8909166666666667 530
0.8909166666666667 531
0.8909166666666667 532
0.8909166666666667 533
0.8909166666666667 534
0.8909166666666667 535
0.8909166666666667 536
0.8909166666666667 537
0.8909166666666667 538
0.8909166666666667 539
0.8909166666666667 540
0.8909166666666667 541
0.8909166666666667 542
0.8909166666666667 543
0.8909166666666667 544
0.8909166666666667 545
0.8909166666666667 546
0.8909166666666667 547
0.8909166666666667 548
0.8909166666666667 549
0.8909166666666667 550
0.8909166666666667 551
0.8909166666666667 552
0.8909166666666667 553
0.8909166666666667 554
0.8909166666666667 555
0.8909166666666667 556
0.8909166666666667 557
0.8909166666666667 558
0.8909166666666667 559
0.8909166666666667 560
0.8909166666666667 561
0.8909166666666667 562
0.8909166666666667 563
0.8909166666666667 564
0.8909166666666667 565
0.8909166666666667 566
0.8909166666666667 567
0.8909166666666667 568
0.8909166666666667 569
0.8909166666666667 570
0.8909166666666667 571
0.8909166666666667 572
0.8909166666666667 573
0.8909166666666667 574
0.8909166666666667 575
0.8909166666666667 576
0.8909166666666667 577
0.8909166666666667 578
0.8909166666666667 579
0.8909166666666667 580
0.8909166666666667 581
0.8909166666666667 582
0.8909166666666667 583
0.8909166666666667 584
0.8909166666666667 585
0.8909166666666667 586
0.8909166666666667 587
0.8909166666666667 588
0.8909166666666667 589
0.8909166666666667 590
0.8909166666666667 591
0.8909166666666667 592
0.8909166666666667 593
0.8909166666666667 594
0.8909166666666667 595
0.8909166666666667 596
0.8909166666666667 597
0.8909166666666667 598
0.8909166666666667 599
0.8909166666666667 600
0.8909166666666667 601
0.8909166666666667 602
0.8909166666666667 603
0.8909166666666667 604
0.8909166666666667 605
0.8909166666666667 606
0.8909166666666667 607
0.8909166666666667 608
0.8909166666666667 609
0.8909166666666667 610
0.8909166666666667 611
0.8909166666666667 612
0.8909166666666667 613
0.8909166666666667 614
0.8909166666666667 615
0.8909166666666667 616
0.8909166666666667 617
0.8909166666666667 618
0.8909166666666667 619
0.8909166666666667 620
0.8909166666666667 621
0.8909166666666667 622
0.8909166666666667 623
0.8909166666666667 624
0.8909166666666667 625
0.8909166666666667 626
0.8909166666666667 627
0.8909166666666667 628
0.8909166666666667 629
0.8909166666666667 630
0.8909166666666667 631
0.8909166666666667 632
0.8909166666666667 633
0.8909166666666667 634
0.8909166666666667 635
0.8909166666666667 636
0.8909166666666667 637
0.8909166666666667 638
0.8909166666666667 639
0.8909166666666667 640
0.8909166666666667 641
0.8909166666666667 642
0.8909166666666667 643
0.8909166666666667 644
0.8909166666666667 645
0.8909166666666667 646
0.8909166666666667 647
0.8909166666666667 648
0.8909166666666667 649
0.8909166666666667 650
0.8909166666666667 651
0.8909166666666667 652
0.8909166666666667 653
0.8909166666666667 654
0.8909166666666667 655
0.8909166666666667 656
0.8909166666666667 657
0.8909166666666667 658
0.8909166666666667 659
0.8909166666666667 660
0.8909166666666667 661
0.8909166666666667 662
0.8909166666666667 663
0.8909166666666667 664
0.8909166666666667 665
0.8909166666666667 666
0.8909166666666667 667
0.8909166666666667 668
0.8909166666666667 669
0.8909166666666667 670
0.8909166666666667 671
0.8909166666666667 672
0.8909166666666667 673
0.8909166666666667 674
0.8909166666666667 675
0.8909166666666667 676
0.8909166666666667 677
0.8909166666666667 678
0.8909166666666667 679
0.8909166666666667 680
0.8909166666666667 681
0.8909166666666667 682
0.8909166666666667 683
0.8909166666666667 684
0.8909166666666667 685
0.8909166666666667 686
0.8909166666666667 687
0.8909166666666667 688
0.8909166666666667 689
0.8909166666666667 690
0.8909166666666667 691
0.8909166666666667 692
0.8909166666666667 693
0.8909166666666667 694
0.8909166666666667 695
0.8909166666666667 696
0.8909166666666667 697
0.8909166666666667 698
0.8909166666666667 699
0.8909166666666667 700
0.8909166666666667 701
0.8909166666666667 702
0.8909166666666667 703
0.8909166666666667 704
0.8909166666666667 705
0.8909166666666667 706
0.8909166666666667 707
0.8909166666666667 708
0.8909166666666667 709
0.8909166666666667 710
0.8909166666666667 711
0.8909166666666667 712
0.8909166666666667 713
0.8909166666666667 714
0.8909166666666667 715
0.8909166666666667 716
0.8909166666666667 717
0.8909166666666667 718
0.8909166666666667 719
0.8909166666666667 720
0.8909166666666667 721
0.8909166666666667 722
0.8909166666666667 723
0.8909166666666667 724
0.8909166666666667 725
0.8909166666666667 726
0.8909166666666667 727
0.8909166666666667 728
0.8909166666666667 729
0.8909166666666667 730
0.8909166666666667 731
0.8909166666666667 732
0.8909166666666667 733
0.8909166666666667 734
0.8909166666666667 735
0.8909166666666667 736
0.8909166666666667 737
0.8909166666666667 738
0.8909166666666667 739
0.8909166666666667 740
0.8909166666666667 741
0.8909166666666667 742
0.8909166666666667 743
0.8909166666666667 744
0.8909166666666667 745
0.8909166666666667 746
0.8909166666666667 747
0.8909166666666667 748
0.8909166666666667 749
0.8909166666666667 750
0.8909166666666667 751
0.8909166666666667 752
0.8909166666666667 753
0.8909166666666667 754
0.8909166666666667 755
0.8909166666666667 756
0.8909166666666667 757
0.8909166666666667 758
0.8909166666666667 759
0.8909166666666667 760
0.8909166666666667 761
0.8909166666666667 762
0.8909166666666667 763
0.8909166666666667 764
0.8909166666666667 765
0.8909166666666667 766
0.8909166666666667 767
0.8909166666666667 768
0.8909166666666667 769
0.8909166666666667 770
0.8909166666666667 771
0.8909166666666667 772
0.8909166666666667 773
0.8909166666666667 774
0.8909166666666667 775
0.8909166666666667 776
0.8909166666666667 777
0.8909166666666667 778
0.8909166666666667 779
0.8909166666666667 780
0.8909166666666667 781
0.8909166666666667 782
0.8909166666666667 783
0.8909166666666667 784
0.8909166666666667 785
0.8909166666666667 786
0.8909166666666667 787
0.8909166666666667 788
0.8909166666666667 789
0.8909166666666667 790
0.8909166666666667 791
0.8909166666666667 792
0.8909166666666667 793
0.8909166666666667 794
0.8909166666666667 795
0.8909166666666667 796
0.8909166666666667 797
0.8909166666666667 798
0.8909166666666667 799
0.8909166666666667 800
0.8909166666666667 801
0.8909166666666667 802
0.8909166666666667 803
0.8909166666666667 804
0.8909166666666667 805
0.8909166666666667 806
0.8909166666666667 807
0.8909166666666667 808
0.8909166666666667 809
0.8909166666666667 810
0.8909166666666667 811
0.8909166666666667 812
0.8909166666666667 813
0.8909166666666667 814
0.8909166666666667 815
0.8909166666666667 816
0.8909166666666667 817
0.8909166666666667 818
0.8909166666666667 819
0.8909166666666667 820
0.8909166666666667 821
0.8909166666666667 822
0.8909166666666667 823
0.8909166666666667 824
0.8909166666666667 825
0.8909166666666667 826
0.8909166666666667 827
0.8909166666666667 828
0.8909166666666667 829
0.8909166666666667 830
0.8909166666666667 831
0.8909166666666667 832
0.8909166666666667 833
0.8909166666666667 834
0.8909166666666667 835
0.8909166666666667 836
0.8909166666666667 837
0.8909166666666667 838
0.8909166666666667 839
0.8909166666666667 840
0.8909166666666667 841
0.8909166666666667 842
0.8909166666666667 843
0.8909166666666667 844
0.8909166666666667 845
0.8909166666666667 846
0.8909166666666667 847
0.8909166666666667 848
0.8909166666666667 849
0.8909166666666667 850
0.8909166666666667 851
0.8909166666666667 852
0.8909166666666667 853
0.8909166666666667 854
0.8909166666666667 855
0.8909166666666667 856
0.8909166666666667 857
0.8909166666666667 858
0.8909166666666667 859
0.8909166666666667 860
0.8909166666666667 861
0.8909166666666667 862
0.8909166666666667 863
0.8909166666666667 864
0.8909166666666667 865
0.8909166666666667 866
0.8909166666666667 867
0.8909166666666667 868
0.8909166666666667 869
0.8909166666666667 870
0.8909166666666667 871
0.8909166666666667 872
0.8909166666666667 873
0.8909166666666667 874
0.8909166666666667 875

In [19]:
#Com o melhor modelo em mãos o aplicaremos no dataset de teste
best_model = models[index_max-100]
df_test = pd.read_csv("treated_data/bank_test.csv")
df_test

,id,age,job,marital,education,location,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,40000,26.0,self-employed,single,tertiary,Porto,no,-101.0,no,yes,cellular,29,jan,172,1.0,-1,0.0,unknown
1,40001,47.0,technician,married,secondary,NaN,no,1167.0,yes,no,cellular,2,feb,139,3.0,73,2.0,success
2,40002,35.0,self-employed,married,tertiary,NaN,no,2427.0,no,no,cellular,12,jul,210,3.0,158,7.0,other
3,40003,54.0,technician,divorced,secondary,NaN,no,NaN,no,no,cellular,30,jan,86,1.0,-1,0.0,unknown
4,40004,27.0,blue-collar,single,secondary,Braga,no,-208.0,yes,n,unknown,21,may,127,2.0,-1,0.0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5206,45206,38.0,administrator,married,secondary,NaN,no,1767.0,yes,no,cellular,12,nov,893,7.0,-1,0.0,unknown
5207,45207,39.0,housemaid,married,primary,Lisboa,no,562.0,no,no,cellular,12,aug,234,2.0,-1,0.0,unknown
5208,45208,46.0,technician,married,secondary,Amadora,no,0.0,no,no,unknown,20,jun,625,1.0,-1,0.0,unknown
5209,45209,NaN,technician,single,secondary,Braga,no,1195.0,yes,no,cellular,19,nov,187,6.0,188,9.0,failure
5210,45210,56.0,blue-collar,married,secondary,NaN,no,NaN,yes,no,unknown,7,may,139,1.0,-1,0.0,unknown

In [20]:
df_test.isna().sum()

id              0
age           166
job           156
marital        19
education       0
location     2762
default         0
balance       247
housing         0
loan            0
contact        90
day             0
month           0
duration        0
campaign      189
pdays           0
previous       39
poutcome        0
dtype: int64

In [21]:
ids = df_test["id"]
df_test.drop(columns=["id"], inplace=True)

In [22]:
df_test

,age,job,marital,education,location,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,26.0,self-employed,single,tertiary,Porto,no,-101.0,no,yes,cellular,29,jan,172,1.0,-1,0.0,unknown
1,47.0,technician,married,secondary,NaN,no,1167.0,yes,no,cellular,2,feb,139,3.0,73,2.0,success
2,35.0,self-employed,married,tertiary,NaN,no,2427.0,no,no,cellular,12,jul,210,3.0,158,7.0,other
3,54.0,technician,divorced,secondary,NaN,no,NaN,no,no,cellular,30,jan,86,1.0,-1,0.0,unknown
4,27.0,blue-collar,single,secondary,Braga,no,-208.0,yes,n,unknown,21,may,127,2.0,-1,0.0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5206,38.0,administrator,married,secondary,NaN,no,1767.0,yes,no,cellular,12,nov,893,7.0,-1,0.0,unknown
5207,39.0,housemaid,married,primary,Lisboa,no,562.0,no,no,cellular,12,aug,234,2.0,-1,0.0,unknown
5208,46.0,technician,married,secondary,Amadora,no,0.0,no,no,unknown,20,jun,625,1.0,-1,0.0,unknown
5209,NaN,technician,single,secondary,Braga,no,1195.0,yes,no,cellular,19,nov,187,6.0,188,9.0,failure
5210,56.0,blue-collar,married,secondary,NaN,no,NaN,yes,no,unknown,7,may,139,1.0,-1,0.0,unknown

In [23]:
df_test.drop(columns=["location"], inplace=True)
categoricas_test = df_test.select_dtypes("object").columns
numericas_test = df_test.select_dtypes("number").columns
print(categoricas_test, numericas_test)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'],
      dtype='object') Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')

In [24]:

def print_unique(data=None):
    for col in data.columns:
        print("Col:", col,"\n", data[col].unique(), data[col].dtype)
print_unique(df_test)

Col: age
 [ 26.  47.  35.  54.  27.  40.  nan  48.  33.  37.  61.  45.  32.  46.
  43.  31.  34.  53.  38.  60.  50.  59.  39.  19.  30.  49.  56.  51.
  44.  28.  25.  36.  52.  65.  29.  78.  41.  58.  42.  57.  23.  55.
  24.  73.  80.  62.  67.  82.  71. 150.  70.  63.  74.  64.  66.  72.
  22.  83.  76.  68.  77.  69.  81.  21.  18.  75.   8.  79.  20.  87.
  86.] float64
Col: job
 ['self-employed' 'technician' 'blue-collar' 'services' 'management'
 'unemployed' 'admin.' 'entrepreneur' nan 'student' 'administrator'
 'retired' 'housemaid' 'unknown'] object
Col: marital
 ['single' 'married' 'divorced' nan] object
Col: education
 ['tertiary' 'secondary' 'primary' 'unknown'] object
Col: default
 ['no' 'yes'] object
Col: balance
 [-101. 1167. 2427. ... 3463. 3119. 1767.] float64
Col: housing
 ['no' 'yes'] object
Col: loan
 ['yes' 'no' 'n' 'y'] object
Col: contact
 ['cellular' 'unknown' 'telephone' nan] object
Col: day
 [29  2 12 30 21 14 20  6 23 13 28 17 25 26  7  9 18 16 11 24  4 19 22  8
 27  5  3  1 31 10 15] int64
Col: month
 ['jan' 'feb' 'jul' 'may' 'jun' 'apr' 'sep' 'dec' 'nov' 'aug' 'oct' 'mar'] object
Col: duration
 [  172   139   210    86   127   329    62  1423   173    23  1451  1038
    85    45    43   201   200    48   300   157    95    97   237   164
    55   317   306   641    67   203   165    35   149   285    75   170
   345   774   252   190   114    88   226   175   133    39   103   211
   202   313   112   510   178   376    78   212     9    59  1311    52
   147    73   550   691   419    36   145   305   302   193   265   476
   308    93   240   327   399    18   304   721   183    10   291   140
   106   215   232   358   319   120   228   150   874    15   118    27
   152    24   182    61   227   159   375   270    66    79   730    70
   266    25   102   487   737   444   463   315   185   555    30    54
   251    82   244   143   603   230   322   122   156    58   195    32
   687   125   255    16   188   132   362   297   142   412    72   268
   350     7  1823   865   391    90  1063   245    41   107  1023   353
    76   128   298   174    14    99   451   119   755    37   342   844
   422    13   241   176    87 75000   192   238   696   161    42   213
   105   384   518    34   111   162   339   435   177    21   288   130
   936    33   104   379    65   144   389   442   446   619   492   109
   163   923   425    92    98   310   168   191   415    60   296    -1
   280   181   477   115    22   346   221   219    57   186    89   117
   123    84     6   278   187   247    29   208   155  1156   151    96
  1058   137   351   153   269   233   926   126   124   154   217   944
   249   -20  1224   356   209   336    31   225   136    94   552   224
   949  1842   283    44   397   246   258   819    56    17   340   532
   218   169   141   204   253   131    74    71   540  1052   335   146
   437   378     5    81   374    50   129   116   206   134   100   697
   167   101   316   452   184   199   260   148   507   589   383   500
   138     8   915   333   630   360   863   180    69    83    47   318
    91   440   835   519   701   380   197   365   248   256   294   370
    53   911   235   736   205   214    77   276   744   450   423    68
   398   236   582   158   796   662    11   250   725   999   557   499
  1000   113   257   309   666   394   121    38   408   272   110   264
   465   571   160   273   838   334   286   501   171   301   189   692
   570   670   580  1150   720   746   493    49   254   295  1181  1805
    64  1141   402   479  2769   135   332   323   614   401  1031   475
    28   216    63  3422   489   274   665   505   710   290   857    46
   649   549   599   432   461   558   393   261   271   293   314   478
   413   634   262   837  1145   279   699   545  1077   418   222    80
   563  3076   497   522   275  1070   166   344   776   445  1389   471
   341   788   411   242  1162   259   587   588    26   355    19   713
    20   196   577   229   348   395   704   622   836  1226   414   466
   417   267   277   403   198   434   303   438  1327  1602   703   457
   467   685   714   447   364   884   406   108   243   734   811  1388
   981   409   530   815   827   282   289   284   231   726   509   443
  1076  1516   381   859   952   496    40   707   539   263   553   575
   527   566   299   674   400   524   705   194   935  1258  1425   331
   382   456   234   542   612   324   729   581   354   638   460   459
   658   223   326   369   813   361   377   486   525   897   373   281
   548  1393   426   594   789  1034   523   498   343   367   925   428
   579   207   405   802  1272   449  1287  1269   533   390   388   502
  2241  1184   407   473   312   688   591  1323   657   396    12   239
   791  1313   387   753    -5   431   420  2177   626   592   625   595
   627   574   503  1178  1223  1460   325   632   490   747  1461   321
   676   307   470   347   608   495   821   912  1363   678  1138   651
   220   311    51   784   287  1096   371   484  1855   601   526   337
   528   472   469   930  1083   807  1126  1007   628   410   179  1309
   433   436   560   616  1236   885  1560   292   679   731   567   328
   968   656   404   416  1027   593  1307  3284   363   596   386   513
  1127   882   648   330  1130   352   749  1044   368   474   889   711
   700  1014  1554   647   357   590   913   976   517   583   468  1598
  1225   561   485   606   828  1108  2087   506  1201   708   392  1349
  1816   817   543   491  1303   951   564   483   927   754  1360   833
  1135  1202   529  1563   899  2485   565   880  1171  1196   745   521
   448   439  1344   488   845     3  1559   777   637  2692   338   764
   904   712   585  1529   757   516   551  1124   768   359   966   462
   643   667   775   366   604  1080  1179  1573  1030  1176   541   855
   554   659   921  1091   607   640   424   808   372   728   598  1548
   453   597   458   576   693   620   644   613   814   385  1663  1021
  1553   902   655   801   504   642   758   546   615  1207  1045   771
   979   756  1098   946   766   680  1417   871   996   716   621   650
  1369   738  1068   536  1447  1534   877  1370  1067   578   429   684
  1110   654   480  1555   824   520   653   881   965   515   870  1042
   631   464  1495   806  1318   427  1558   780   508   624   804   664
   740   481   856     4  1128   531  1237   799   544   455  1386   586
   858   547   669   893] int64
Col: campaign
 [ 1.  3.  2.  4.  5.  8. nan  7.  6. 12. 10.  9. 19. 20. 13. 15. 51. 25.
 30. 11. 21. 46. 16. 17. 32. 14. 24. 18. 23. 34. 26. 63. 31. 38. 44. 29.
 22. 43. 28. 50.] float64
Col: pdays
 [ -1  73 158 359 196 200 181 176 164  92 206 369   2 231 128 476 235 273
 335 321 227  91 248 370  90  99 207 343 104 263 246 238 211 361 205 167
 112  79 349 186 360 336 183 380 242 188 299 368 190 189 366 461 116 272
 170 191 318 182   6 105 169 271 745 101 416 358 220 154 389 371 354 166
  85 462 162 332 412  31 180 348 267 367 253 275  88 283 363 341 374 133
 252 298  89  97 215 230 334 281 286 314 385 357  93 345 100  78 282  44
 178 308  95 310 102 319 195 174 201 279 119 240 216 463 330 212 350 276
 331 124 339 108 440 121 260  28 340 352  87 270 633 147 251 199 347 274
 131  84 413 302  68 315 198 175 353 364 149 287 264 701 288 394 177 250
 329 168 241 301 184   9  29 145 365 373 464 351 356 355 303 217 106 305
 293 259 197 171 109 146 114  33 320 150 261 326 346 160 213 123 312 316
 297  98  81 120 156 204 266  94 113 337  86 103 247 342 208  12 327 226
 256  10 111 268 110 172 842 344 152 285 194 249 459 137  57 311  24 391
 322 362 165 430 153  96 401 290  58 209 187 136 472 284 258 122 520  35
 433  27 245  63 132 219 143 500 294 134 127   5 291 232  39 129 130 192
  60 148  48 397 392  71 159 304 125 379  80 139 254 138   1 157 135 269
 555 295 503 278 265 234 223 384 173 313 179 296 324 805 185 484 193 140
 585 388 163 300   8 262 203 306 214 414 328  47 526 255 626] int64
Col: previous
 [ 0.  2.  7.  3.  5.  1.  9.  8.  4.  6. 12. 14. nan 23. 16. 10. 11. 38.
 17. 28. 29. 51. 13. 20. 24. 15. 37.] float64
Col: poutcome
 ['unknown' 'success' 'other' 'failure'] object

In [25]:
df_test.replace({"admin.": "administrator"}, inplace=True)

In [26]:
for numeric in numericas_test:
    if df_test[numeric].isna().sum() > 0:
        if df_test[numeric].dtype == "int64" or numeric in ["age", "previous", "campaign"]:
            df_test[numeric] = df_test[numeric].fillna(np.int64(df_test[numeric].mean()))
        else:
            df_test[numeric] = df_test[numeric].fillna(df_test[numeric].mean())
for category in categoricas_test:
    if df_test[category].isna().sum() > 0:
        df_test[category] = df_test[category].fillna(df_test[category].mode()[0])
    
print_unique(df_test)

Col: age
 [ 26.  47.  35.  54.  27.  40.  41.  48.  33.  37.  61.  45.  32.  46.
  43.  31.  34.  53.  38.  60.  50.  59.  39.  19.  30.  49.  56.  51.
  44.  28.  25.  36.  52.  65.  29.  78.  58.  42.  57.  23.  55.  24.
  73.  80.  62.  67.  82.  71. 150.  70.  63.  74.  64.  66.  72.  22.
  83.  76.  68.  77.  69.  81.  21.  18.  75.   8.  79.  20.  87.  86.] float64
Col: job
 ['self-employed' 'technician' 'blue-collar' 'services' 'management'
 'unemployed' 'administrator' 'entrepreneur' 'student' 'retired'
 'housemaid' 'unknown'] object
Col: marital
 ['single' 'married' 'divorced'] object
Col: education
 ['tertiary' 'secondary' 'primary' 'unknown'] object
Col: default
 ['no' 'yes'] object
Col: balance
 [-101. 1167. 2427. ... 3463. 3119. 1767.] float64
Col: housing
 ['no' 'yes'] object
Col: loan
 ['yes' 'no' 'n' 'y'] object
Col: contact
 ['cellular' 'unknown' 'telephone'] object
Col: day
 [29  2 12 30 21 14 20  6 23 13 28 17 25 26  7  9 18 16 11 24  4 19 22  8
 27  5  3  1 31 10 15] int64
Col: month
 ['jan' 'feb' 'jul' 'may' 'jun' 'apr' 'sep' 'dec' 'nov' 'aug' 'oct' 'mar'] object
Col: duration
 [  172   139   210    86   127   329    62  1423   173    23  1451  1038
    85    45    43   201   200    48   300   157    95    97   237   164
    55   317   306   641    67   203   165    35   149   285    75   170
   345   774   252   190   114    88   226   175   133    39   103   211
   202   313   112   510   178   376    78   212     9    59  1311    52
   147    73   550   691   419    36   145   305   302   193   265   476
   308    93   240   327   399    18   304   721   183    10   291   140
   106   215   232   358   319   120   228   150   874    15   118    27
   152    24   182    61   227   159   375   270    66    79   730    70
   266    25   102   487   737   444   463   315   185   555    30    54
   251    82   244   143   603   230   322   122   156    58   195    32
   687   125   255    16   188   132   362   297   142   412    72   268
   350     7  1823   865   391    90  1063   245    41   107  1023   353
    76   128   298   174    14    99   451   119   755    37   342   844
   422    13   241   176    87 75000   192   238   696   161    42   213
   105   384   518    34   111   162   339   435   177    21   288   130
   936    33   104   379    65   144   389   442   446   619   492   109
   163   923   425    92    98   310   168   191   415    60   296    -1
   280   181   477   115    22   346   221   219    57   186    89   117
   123    84     6   278   187   247    29   208   155  1156   151    96
  1058   137   351   153   269   233   926   126   124   154   217   944
   249   -20  1224   356   209   336    31   225   136    94   552   224
   949  1842   283    44   397   246   258   819    56    17   340   532
   218   169   141   204   253   131    74    71   540  1052   335   146
   437   378     5    81   374    50   129   116   206   134   100   697
   167   101   316   452   184   199   260   148   507   589   383   500
   138     8   915   333   630   360   863   180    69    83    47   318
    91   440   835   519   701   380   197   365   248   256   294   370
    53   911   235   736   205   214    77   276   744   450   423    68
   398   236   582   158   796   662    11   250   725   999   557   499
  1000   113   257   309   666   394   121    38   408   272   110   264
   465   571   160   273   838   334   286   501   171   301   189   692
   570   670   580  1150   720   746   493    49   254   295  1181  1805
    64  1141   402   479  2769   135   332   323   614   401  1031   475
    28   216    63  3422   489   274   665   505   710   290   857    46
   649   549   599   432   461   558   393   261   271   293   314   478
   413   634   262   837  1145   279   699   545  1077   418   222    80
   563  3076   497   522   275  1070   166   344   776   445  1389   471
   341   788   411   242  1162   259   587   588    26   355    19   713
    20   196   577   229   348   395   704   622   836  1226   414   466
   417   267   277   403   198   434   303   438  1327  1602   703   457
   467   685   714   447   364   884   406   108   243   734   811  1388
   981   409   530   815   827   282   289   284   231   726   509   443
  1076  1516   381   859   952   496    40   707   539   263   553   575
   527   566   299   674   400   524   705   194   935  1258  1425   331
   382   456   234   542   612   324   729   581   354   638   460   459
   658   223   326   369   813   361   377   486   525   897   373   281
   548  1393   426   594   789  1034   523   498   343   367   925   428
   579   207   405   802  1272   449  1287  1269   533   390   388   502
  2241  1184   407   473   312   688   591  1323   657   396    12   239
   791  1313   387   753    -5   431   420  2177   626   592   625   595
   627   574   503  1178  1223  1460   325   632   490   747  1461   321
   676   307   470   347   608   495   821   912  1363   678  1138   651
   220   311    51   784   287  1096   371   484  1855   601   526   337
   528   472   469   930  1083   807  1126  1007   628   410   179  1309
   433   436   560   616  1236   885  1560   292   679   731   567   328
   968   656   404   416  1027   593  1307  3284   363   596   386   513
  1127   882   648   330  1130   352   749  1044   368   474   889   711
   700  1014  1554   647   357   590   913   976   517   583   468  1598
  1225   561   485   606   828  1108  2087   506  1201   708   392  1349
  1816   817   543   491  1303   951   564   483   927   754  1360   833
  1135  1202   529  1563   899  2485   565   880  1171  1196   745   521
   448   439  1344   488   845     3  1559   777   637  2692   338   764
   904   712   585  1529   757   516   551  1124   768   359   966   462
   643   667   775   366   604  1080  1179  1573  1030  1176   541   855
   554   659   921  1091   607   640   424   808   372   728   598  1548
   453   597   458   576   693   620   644   613   814   385  1663  1021
  1553   902   655   801   504   642   758   546   615  1207  1045   771
   979   756  1098   946   766   680  1417   871   996   716   621   650
  1369   738  1068   536  1447  1534   877  1370  1067   578   429   684
  1110   654   480  1555   824   520   653   881   965   515   870  1042
   631   464  1495   806  1318   427  1558   780   508   624   804   664
   740   481   856     4  1128   531  1237   799   544   455  1386   586
   858   547   669   893] int64
Col: campaign
 [ 1.  3.  2.  4.  5.  8.  7.  6. 12. 10.  9. 19. 20. 13. 15. 51. 25. 30.
 11. 21. 46. 16. 17. 32. 14. 24. 18. 23. 34. 26. 63. 31. 38. 44. 29. 22.
 43. 28. 50.] float64
Col: pdays
 [ -1  73 158 359 196 200 181 176 164  92 206 369   2 231 128 476 235 273
 335 321 227  91 248 370  90  99 207 343 104 263 246 238 211 361 205 167
 112  79 349 186 360 336 183 380 242 188 299 368 190 189 366 461 116 272
 170 191 318 182   6 105 169 271 745 101 416 358 220 154 389 371 354 166
  85 462 162 332 412  31 180 348 267 367 253 275  88 283 363 341 374 133
 252 298  89  97 215 230 334 281 286 314 385 357  93 345 100  78 282  44
 178 308  95 310 102 319 195 174 201 279 119 240 216 463 330 212 350 276
 331 124 339 108 440 121 260  28 340 352  87 270 633 147 251 199 347 274
 131  84 413 302  68 315 198 175 353 364 149 287 264 701 288 394 177 250
 329 168 241 301 184   9  29 145 365 373 464 351 356 355 303 217 106 305
 293 259 197 171 109 146 114  33 320 150 261 326 346 160 213 123 312 316
 297  98  81 120 156 204 266  94 113 337  86 103 247 342 208  12 327 226
 256  10 111 268 110 172 842 344 152 285 194 249 459 137  57 311  24 391
 322 362 165 430 153  96 401 290  58 209 187 136 472 284 258 122 520  35
 433  27 245  63 132 219 143 500 294 134 127   5 291 232  39 129 130 192
  60 148  48 397 392  71 159 304 125 379  80 139 254 138   1 157 135 269
 555 295 503 278 265 234 223 384 173 313 179 296 324 805 185 484 193 140
 585 388 163 300   8 262 203 306 214 414 328  47 526 255 626] int64
Col: previous
 [ 0.  2.  7.  3.  5.  1.  9.  8.  4.  6. 12. 14. 23. 16. 10. 11. 38. 17.
 28. 29. 51. 13. 20. 24. 15. 37.] float64
Col: poutcome
 ['unknown' 'success' 'other' 'failure'] object

In [27]:
df_test.replace({"n": "no", "y": "yes"}, inplace=True)

In [28]:
print_unique(df_test)

Col: age
 [ 26.  47.  35.  54.  27.  40.  41.  48.  33.  37.  61.  45.  32.  46.
  43.  31.  34.  53.  38.  60.  50.  59.  39.  19.  30.  49.  56.  51.
  44.  28.  25.  36.  52.  65.  29.  78.  58.  42.  57.  23.  55.  24.
  73.  80.  62.  67.  82.  71. 150.  70.  63.  74.  64.  66.  72.  22.
  83.  76.  68.  77.  69.  81.  21.  18.  75.   8.  79.  20.  87.  86.] float64
Col: job
 ['self-employed' 'technician' 'blue-collar' 'services' 'management'
 'unemployed' 'administrator' 'entrepreneur' 'student' 'retired'
 'housemaid' 'unknown'] object
Col: marital
 ['single' 'married' 'divorced'] object
Col: education
 ['tertiary' 'secondary' 'primary' 'unknown'] object
Col: default
 ['no' 'yes'] object
Col: balance
 [-101. 1167. 2427. ... 3463. 3119. 1767.] float64
Col: housing
 ['no' 'yes'] object
Col: loan
 ['yes' 'no'] object
Col: contact
 ['cellular' 'unknown' 'telephone'] object
Col: day
 [29  2 12 30 21 14 20  6 23 13 28 17 25 26  7  9 18 16 11 24  4 19 22  8
 27  5  3  1 31 10 15] int64
Col: month
 ['jan' 'feb' 'jul' 'may' 'jun' 'apr' 'sep' 'dec' 'nov' 'aug' 'oct' 'mar'] object
Col: duration
 [  172   139   210    86   127   329    62  1423   173    23  1451  1038
    85    45    43   201   200    48   300   157    95    97   237   164
    55   317   306   641    67   203   165    35   149   285    75   170
   345   774   252   190   114    88   226   175   133    39   103   211
   202   313   112   510   178   376    78   212     9    59  1311    52
   147    73   550   691   419    36   145   305   302   193   265   476
   308    93   240   327   399    18   304   721   183    10   291   140
   106   215   232   358   319   120   228   150   874    15   118    27
   152    24   182    61   227   159   375   270    66    79   730    70
   266    25   102   487   737   444   463   315   185   555    30    54
   251    82   244   143   603   230   322   122   156    58   195    32
   687   125   255    16   188   132   362   297   142   412    72   268
   350     7  1823   865   391    90  1063   245    41   107  1023   353
    76   128   298   174    14    99   451   119   755    37   342   844
   422    13   241   176    87 75000   192   238   696   161    42   213
   105   384   518    34   111   162   339   435   177    21   288   130
   936    33   104   379    65   144   389   442   446   619   492   109
   163   923   425    92    98   310   168   191   415    60   296    -1
   280   181   477   115    22   346   221   219    57   186    89   117
   123    84     6   278   187   247    29   208   155  1156   151    96
  1058   137   351   153   269   233   926   126   124   154   217   944
   249   -20  1224   356   209   336    31   225   136    94   552   224
   949  1842   283    44   397   246   258   819    56    17   340   532
   218   169   141   204   253   131    74    71   540  1052   335   146
   437   378     5    81   374    50   129   116   206   134   100   697
   167   101   316   452   184   199   260   148   507   589   383   500
   138     8   915   333   630   360   863   180    69    83    47   318
    91   440   835   519   701   380   197   365   248   256   294   370
    53   911   235   736   205   214    77   276   744   450   423    68
   398   236   582   158   796   662    11   250   725   999   557   499
  1000   113   257   309   666   394   121    38   408   272   110   264
   465   571   160   273   838   334   286   501   171   301   189   692
   570   670   580  1150   720   746   493    49   254   295  1181  1805
    64  1141   402   479  2769   135   332   323   614   401  1031   475
    28   216    63  3422   489   274   665   505   710   290   857    46
   649   549   599   432   461   558   393   261   271   293   314   478
   413   634   262   837  1145   279   699   545  1077   418   222    80
   563  3076   497   522   275  1070   166   344   776   445  1389   471
   341   788   411   242  1162   259   587   588    26   355    19   713
    20   196   577   229   348   395   704   622   836  1226   414   466
   417   267   277   403   198   434   303   438  1327  1602   703   457
   467   685   714   447   364   884   406   108   243   734   811  1388
   981   409   530   815   827   282   289   284   231   726   509   443
  1076  1516   381   859   952   496    40   707   539   263   553   575
   527   566   299   674   400   524   705   194   935  1258  1425   331
   382   456   234   542   612   324   729   581   354   638   460   459
   658   223   326   369   813   361   377   486   525   897   373   281
   548  1393   426   594   789  1034   523   498   343   367   925   428
   579   207   405   802  1272   449  1287  1269   533   390   388   502
  2241  1184   407   473   312   688   591  1323   657   396    12   239
   791  1313   387   753    -5   431   420  2177   626   592   625   595
   627   574   503  1178  1223  1460   325   632   490   747  1461   321
   676   307   470   347   608   495   821   912  1363   678  1138   651
   220   311    51   784   287  1096   371   484  1855   601   526   337
   528   472   469   930  1083   807  1126  1007   628   410   179  1309
   433   436   560   616  1236   885  1560   292   679   731   567   328
   968   656   404   416  1027   593  1307  3284   363   596   386   513
  1127   882   648   330  1130   352   749  1044   368   474   889   711
   700  1014  1554   647   357   590   913   976   517   583   468  1598
  1225   561   485   606   828  1108  2087   506  1201   708   392  1349
  1816   817   543   491  1303   951   564   483   927   754  1360   833
  1135  1202   529  1563   899  2485   565   880  1171  1196   745   521
   448   439  1344   488   845     3  1559   777   637  2692   338   764
   904   712   585  1529   757   516   551  1124   768   359   966   462
   643   667   775   366   604  1080  1179  1573  1030  1176   541   855
   554   659   921  1091   607   640   424   808   372   728   598  1548
   453   597   458   576   693   620   644   613   814   385  1663  1021
  1553   902   655   801   504   642   758   546   615  1207  1045   771
   979   756  1098   946   766   680  1417   871   996   716   621   650
  1369   738  1068   536  1447  1534   877  1370  1067   578   429   684
  1110   654   480  1555   824   520   653   881   965   515   870  1042
   631   464  1495   806  1318   427  1558   780   508   624   804   664
   740   481   856     4  1128   531  1237   799   544   455  1386   586
   858   547   669   893] int64
Col: campaign
 [ 1.  3.  2.  4.  5.  8.  7.  6. 12. 10.  9. 19. 20. 13. 15. 51. 25. 30.
 11. 21. 46. 16. 17. 32. 14. 24. 18. 23. 34. 26. 63. 31. 38. 44. 29. 22.
 43. 28. 50.] float64
Col: pdays
 [ -1  73 158 359 196 200 181 176 164  92 206 369   2 231 128 476 235 273
 335 321 227  91 248 370  90  99 207 343 104 263 246 238 211 361 205 167
 112  79 349 186 360 336 183 380 242 188 299 368 190 189 366 461 116 272
 170 191 318 182   6 105 169 271 745 101 416 358 220 154 389 371 354 166
  85 462 162 332 412  31 180 348 267 367 253 275  88 283 363 341 374 133
 252 298  89  97 215 230 334 281 286 314 385 357  93 345 100  78 282  44
 178 308  95 310 102 319 195 174 201 279 119 240 216 463 330 212 350 276
 331 124 339 108 440 121 260  28 340 352  87 270 633 147 251 199 347 274
 131  84 413 302  68 315 198 175 353 364 149 287 264 701 288 394 177 250
 329 168 241 301 184   9  29 145 365 373 464 351 356 355 303 217 106 305
 293 259 197 171 109 146 114  33 320 150 261 326 346 160 213 123 312 316
 297  98  81 120 156 204 266  94 113 337  86 103 247 342 208  12 327 226
 256  10 111 268 110 172 842 344 152 285 194 249 459 137  57 311  24 391
 322 362 165 430 153  96 401 290  58 209 187 136 472 284 258 122 520  35
 433  27 245  63 132 219 143 500 294 134 127   5 291 232  39 129 130 192
  60 148  48 397 392  71 159 304 125 379  80 139 254 138   1 157 135 269
 555 295 503 278 265 234 223 384 173 313 179 296 324 805 185 484 193 140
 585 388 163 300   8 262 203 306 214 414 328  47 526 255 626] int64
Col: previous
 [ 0.  2.  7.  3.  5.  1.  9.  8.  4.  6. 12. 14. 23. 16. 10. 11. 38. 17.
 28. 29. 51. 13. 20. 24. 15. 37.] float64
Col: poutcome
 ['unknown' 'success' 'other' 'failure'] object

In [29]:
for i in range(len(categoricas_test)):
    le = LabelEncoder()
    df_test[categoricas_test[i]] = le.fit_transform(df_test[categoricas_test[i]])
print_unique(df_test)

Col: age
 [ 26.  47.  35.  54.  27.  40.  41.  48.  33.  37.  61.  45.  32.  46.
  43.  31.  34.  53.  38.  60.  50.  59.  39.  19.  30.  49.  56.  51.
  44.  28.  25.  36.  52.  65.  29.  78.  58.  42.  57.  23.  55.  24.
  73.  80.  62.  67.  82.  71. 150.  70.  63.  74.  64.  66.  72.  22.
  83.  76.  68.  77.  69.  81.  21.  18.  75.   8.  79.  20.  87.  86.] float64
Col: job
 [ 6  9  1  7  4 10  0  2  8  5  3 11] int64
Col: marital
 [2 1 0] int64
Col: education
 [2 1 0 3] int64
Col: default
 [0 1] int64
Col: balance
 [-101. 1167. 2427. ... 3463. 3119. 1767.] float64
Col: housing
 [0 1] int64
Col: loan
 [1 0] int64
Col: contact
 [0 2 1] int64
Col: day
 [29  2 12 30 21 14 20  6 23 13 28 17 25 26  7  9 18 16 11 24  4 19 22  8
 27  5  3  1 31 10 15] int64
Col: month
 [ 4  3  5  8  6  0 11  2  9  1 10  7] int64
Col: duration
 [  172   139   210    86   127   329    62  1423   173    23  1451  1038
    85    45    43   201   200    48   300   157    95    97   237   164
    55   317   306   641    67   203   165    35   149   285    75   170
   345   774   252   190   114    88   226   175   133    39   103   211
   202   313   112   510   178   376    78   212     9    59  1311    52
   147    73   550   691   419    36   145   305   302   193   265   476
   308    93   240   327   399    18   304   721   183    10   291   140
   106   215   232   358   319   120   228   150   874    15   118    27
   152    24   182    61   227   159   375   270    66    79   730    70
   266    25   102   487   737   444   463   315   185   555    30    54
   251    82   244   143   603   230   322   122   156    58   195    32
   687   125   255    16   188   132   362   297   142   412    72   268
   350     7  1823   865   391    90  1063   245    41   107  1023   353
    76   128   298   174    14    99   451   119   755    37   342   844
   422    13   241   176    87 75000   192   238   696   161    42   213
   105   384   518    34   111   162   339   435   177    21   288   130
   936    33   104   379    65   144   389   442   446   619   492   109
   163   923   425    92    98   310   168   191   415    60   296    -1
   280   181   477   115    22   346   221   219    57   186    89   117
   123    84     6   278   187   247    29   208   155  1156   151    96
  1058   137   351   153   269   233   926   126   124   154   217   944
   249   -20  1224   356   209   336    31   225   136    94   552   224
   949  1842   283    44   397   246   258   819    56    17   340   532
   218   169   141   204   253   131    74    71   540  1052   335   146
   437   378     5    81   374    50   129   116   206   134   100   697
   167   101   316   452   184   199   260   148   507   589   383   500
   138     8   915   333   630   360   863   180    69    83    47   318
    91   440   835   519   701   380   197   365   248   256   294   370
    53   911   235   736   205   214    77   276   744   450   423    68
   398   236   582   158   796   662    11   250   725   999   557   499
  1000   113   257   309   666   394   121    38   408   272   110   264
   465   571   160   273   838   334   286   501   171   301   189   692
   570   670   580  1150   720   746   493    49   254   295  1181  1805
    64  1141   402   479  2769   135   332   323   614   401  1031   475
    28   216    63  3422   489   274   665   505   710   290   857    46
   649   549   599   432   461   558   393   261   271   293   314   478
   413   634   262   837  1145   279   699   545  1077   418   222    80
   563  3076   497   522   275  1070   166   344   776   445  1389   471
   341   788   411   242  1162   259   587   588    26   355    19   713
    20   196   577   229   348   395   704   622   836  1226   414   466
   417   267   277   403   198   434   303   438  1327  1602   703   457
   467   685   714   447   364   884   406   108   243   734   811  1388
   981   409   530   815   827   282   289   284   231   726   509   443
  1076  1516   381   859   952   496    40   707   539   263   553   575
   527   566   299   674   400   524   705   194   935  1258  1425   331
   382   456   234   542   612   324   729   581   354   638   460   459
   658   223   326   369   813   361   377   486   525   897   373   281
   548  1393   426   594   789  1034   523   498   343   367   925   428
   579   207   405   802  1272   449  1287  1269   533   390   388   502
  2241  1184   407   473   312   688   591  1323   657   396    12   239
   791  1313   387   753    -5   431   420  2177   626   592   625   595
   627   574   503  1178  1223  1460   325   632   490   747  1461   321
   676   307   470   347   608   495   821   912  1363   678  1138   651
   220   311    51   784   287  1096   371   484  1855   601   526   337
   528   472   469   930  1083   807  1126  1007   628   410   179  1309
   433   436   560   616  1236   885  1560   292   679   731   567   328
   968   656   404   416  1027   593  1307  3284   363   596   386   513
  1127   882   648   330  1130   352   749  1044   368   474   889   711
   700  1014  1554   647   357   590   913   976   517   583   468  1598
  1225   561   485   606   828  1108  2087   506  1201   708   392  1349
  1816   817   543   491  1303   951   564   483   927   754  1360   833
  1135  1202   529  1563   899  2485   565   880  1171  1196   745   521
   448   439  1344   488   845     3  1559   777   637  2692   338   764
   904   712   585  1529   757   516   551  1124   768   359   966   462
   643   667   775   366   604  1080  1179  1573  1030  1176   541   855
   554   659   921  1091   607   640   424   808   372   728   598  1548
   453   597   458   576   693   620   644   613   814   385  1663  1021
  1553   902   655   801   504   642   758   546   615  1207  1045   771
   979   756  1098   946   766   680  1417   871   996   716   621   650
  1369   738  1068   536  1447  1534   877  1370  1067   578   429   684
  1110   654   480  1555   824   520   653   881   965   515   870  1042
   631   464  1495   806  1318   427  1558   780   508   624   804   664
   740   481   856     4  1128   531  1237   799   544   455  1386   586
   858   547   669   893] int64
Col: campaign
 [ 1.  3.  2.  4.  5.  8.  7.  6. 12. 10.  9. 19. 20. 13. 15. 51. 25. 30.
 11. 21. 46. 16. 17. 32. 14. 24. 18. 23. 34. 26. 63. 31. 38. 44. 29. 22.
 43. 28. 50.] float64
Col: pdays
 [ -1  73 158 359 196 200 181 176 164  92 206 369   2 231 128 476 235 273
 335 321 227  91 248 370  90  99 207 343 104 263 246 238 211 361 205 167
 112  79 349 186 360 336 183 380 242 188 299 368 190 189 366 461 116 272
 170 191 318 182   6 105 169 271 745 101 416 358 220 154 389 371 354 166
  85 462 162 332 412  31 180 348 267 367 253 275  88 283 363 341 374 133
 252 298  89  97 215 230 334 281 286 314 385 357  93 345 100  78 282  44
 178 308  95 310 102 319 195 174 201 279 119 240 216 463 330 212 350 276
 331 124 339 108 440 121 260  28 340 352  87 270 633 147 251 199 347 274
 131  84 413 302  68 315 198 175 353 364 149 287 264 701 288 394 177 250
 329 168 241 301 184   9  29 145 365 373 464 351 356 355 303 217 106 305
 293 259 197 171 109 146 114  33 320 150 261 326 346 160 213 123 312 316
 297  98  81 120 156 204 266  94 113 337  86 103 247 342 208  12 327 226
 256  10 111 268 110 172 842 344 152 285 194 249 459 137  57 311  24 391
 322 362 165 430 153  96 401 290  58 209 187 136 472 284 258 122 520  35
 433  27 245  63 132 219 143 500 294 134 127   5 291 232  39 129 130 192
  60 148  48 397 392  71 159 304 125 379  80 139 254 138   1 157 135 269
 555 295 503 278 265 234 223 384 173 313 179 296 324 805 185 484 193 140
 585 388 163 300   8 262 203 306 214 414 328  47 526 255 626] int64
Col: previous
 [ 0.  2.  7.  3.  5.  1.  9.  8.  4.  6. 12. 14. 23. 16. 10. 11. 38. 17.
 28. 29. 51. 13. 20. 24. 15. 37.] float64
Col: poutcome
 [3 2 1 0] int64

In [30]:
df_test_scaled = StandardScaler().fit_transform(df_test)

In [31]:
df_test_scaled

array([[-1.41721184,  0.53564556,  1.38080312, ..., -0.40395544,
        -0.27425881,  0.43491595],
       [ 0.55279615,  1.45351764, -0.26159931, ...,  0.34477381,
         0.75170146, -0.58320939],
       [-0.5729227 ,  0.53564556, -0.26159931, ...,  1.20480065,
         3.31660215, -1.60133472],
       ...,
       [ 0.45898624,  1.45351764, -0.26159931, ..., -0.40395544,
        -0.27425881,  0.43491595],
       [-0.01006328,  1.45351764,  1.38080312, ...,  1.50833954,
         4.34256243, -2.61946006],
       [ 1.39708528, -0.99414125, -0.26159931, ..., -0.40395544,
        -0.27425881,  0.43491595]])

In [32]:
target_pred = best_model.predict(df_test_scaled)

In [33]:
target = pd.DataFrame()
target["id"] = ids
target["y"] = target_pred
print_unique(target)

Col: id
 [40000 40001 40002 ... 45208 45209 45210] int64
Col: y
 [0 1] int64

In [34]:
target

         id  y
0     40000  0
1     40001  0
2     40002  0
3     40003  0
4     40004  0
...     ... ..
5206  45206  0
5207  45207  0
5208  45208  0
5209  45209  0
5210  45210  0

[5211 rows x 2 columns]

In [35]:
target.to_csv("target_Lr.csv", index=False)