In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import StandardScaler 
from sklearn.svm import SVC 
from imblearn.over_sampling import SMOTE

In [2]:
df = pd.read_csv("./data_treated.csv")
df_test = pd.read_csv("./data_treated_final.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,4,2,2,0,4522.0,0,0,0,28,1,55,1,-1,0,3,0
1,42,1,1,0,1,398.0,1,0,2,16,8,251,4,-1,0,3,0
2,26,8,2,1,0,706.0,0,0,2,8,10,118,1,105,2,1,0
3,54,4,1,2,0,0.0,0,1,0,19,9,307,3,-1,0,3,0
4,43,6,1,1,0,918.0,1,0,2,6,8,193,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37843,43,4,1,2,0,13851.0,1,0,0,21,9,259,1,-1,0,3,0
37844,34,1,1,0,0,357.0,1,0,2,14,8,197,2,-1,0,3,0
37845,30,4,2,2,0,4889.0,0,0,0,11,1,545,2,-1,0,3,1
37846,40,6,1,2,0,271.0,1,0,0,21,9,124,3,102,4,0,0
37847,60,3,1,2,0,443.0,0,0,2,5,6,60,1,-1,0,3,0

In [3]:
df_test

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,26,6,2,2,0,-101.000000,0,1,0,29,4,172,1,-1,0,3
1,47,9,1,1,0,1167.000000,1,0,0,2,3,139,3,73,2,2
2,35,6,1,2,0,2427.000000,0,0,0,12,5,210,3,158,7,1
3,54,9,0,1,0,1381.651088,0,0,0,30,4,86,1,-1,0,3
4,27,1,2,1,0,-208.000000,1,0,2,21,8,127,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5206,38,0,1,1,0,1767.000000,1,0,0,12,9,893,7,-1,0,3
5207,39,3,1,0,0,562.000000,0,0,0,12,1,234,2,-1,0,3
5208,46,9,1,1,0,0.000000,0,0,2,20,6,625,1,-1,0,3
5209,41,9,2,1,0,1195.000000,1,0,0,19,9,187,6,188,9,0
5210,56,1,1,1,0,1381.651088,1,0,2,7,8,139,1,-1,0,3

In [4]:
X = df.drop('y', axis = 1)
y = df['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

smote = SMOTE()
X_train, y_train = smote.fit_resample(X_train, y_train)

scaler = StandardScaler().fit(X_train) 
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [5]:
for c in [0.125,0.25,2,4,100,1000,0.1,1,10,0.01,0.001,0.0001]:
    for gama in [0.125,0.25,2,4,100,1000,0.1,1,10,0.01,0.001,0.0001]:
        model = SVC(kernel='rbf', C=c, gamma=gama) 
        model.fit(X_train_scaled, y_train)

        y_pred = model.predict(X_test_scaled) 
        accuracy = metrics.accuracy_score(y_test, y_pred) 
        precision = metrics.precision_score(y_test, y_pred)
        recall = metrics.recall_score(y_test, y_pred)

        print(gama, model)
        print("Precision:",precision)
        print('Accuracy:', accuracy) 
        print("Recall:",recall) 
        print()

In [ ]:
new_data_scaled = scaler.transform(df_test) 
y_pred = model.predict(new_data_scaled)

In [ ]:
df_resultado = pd.DataFrame({'id': np.array(df_test['id']), "y": y_pred})
df_resultado.index = df_resultado["id"]
df_resultado = df_resultado.drop('id',axis=1)
df_resultado.to_csv("./target.csv")